.nav{
    flex-direction: column;
    color: white !important;
    padding: 30px 20px !important;
}
.linkk{
    color: white;
    padding: 0px 15px!important;
    text-align: center;
}
.toggler{    color: aliceblue;
    font-size: 24px;
    position: absolute;
    left: 10px;
    top: 107px;
display: none !important;}
  
@media only screen and (max-width: 800px) {
    .toggler{
        display: block !important; 
    }
    .linkk li {
        display: inline-block;
        margin:0px !important;
       
    }
    .linkk{
        color: white;
        padding: 0px 0px!important;
        text-align: center;
    }
.nav{
    color: white !important;
    position: absolute;
    top: 113px !important;
    margin: 0 !important;
    padding: 0px 5px !important;
    left: 0px !important;
    transform: translateX(-200%);
    opacity: 0;
    flex-direction: row !important;
    transition: all 0.5s ease !important;
    top: 108px !important;
    left: 35px !important;
    }
    .open{
        transition: all 0.5s ease;
       
        opacity: 1;
        transform: translateX(0%);
    }
    .icon-opts ul li i {
        margin: 0px 9px !important;
    }
    .linkk.active{
        background-color: rgb(85, 85, 85);
        border-radius: 10px;

    }
    /* .icon-opts ul{
        width: 100% !important;
    } */

}
.linkk.active{
    background-color: rgb(85, 85, 85);
    border-radius: 0px 30px 30px 0px;
    padding: 0px !important;
}
