
 .lst{
    width: 100%;
    text-align: center;
    padding: 60px 10px;
    height: 100%;
}
.lst .fa-phone-alt{
    font-size: 90px;
    background-color: #f4593e;
    color: #f8fff3;
    padding: 9px;
    border-radius: 16px;
    height: fit-content;
}

.lst .fa-video{
    background-color: #718ffe;
    color: #f8fff3;
    padding: 9px;
    border-radius: 16px;
    height: fit-content;
    font-size: 90px;
 
    }
  .lst  .logimg{
        position: relative;
        cursor: pointer;
        margin-top: 20px;
      
        transition: all 0.7s ease;
        
    }
    .logimg span{
        color: white;
        opacity: 0;
        transition: opacity 0.6s ease;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .logimg img{
        cursor: pointer;
        object-fit: cover;
        width: 110px;
        transition: all 0.5s ease;
        border-radius: 16px;
        opacity: 0.5;
    }
    .lst .logimg:hover img{
        opacity: 1;
    }
    .callaudio,.callvideo{
        position: relative;
        cursor: pointer;
        overflow: hidden;
        margin-bottom: 15px;
    }
    .callvideo:hover .fa-video {
        background-color: #916ffe;
    }
    .callaudio:hover .fa-phone-alt{
        background-color: #f4793e;
    }
    .lst .tit{
        color: #fff;
        transition: all 0.5s ease;
        margin-top: 6px;
        font-size: 16px;
    }

@media only screen and (max-width: 800px){
    
 .lst{
    width: 100%;
    text-align: center;
    color: white;
    position: relative;
    padding: 10px;
}
}